div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    padding: 10px;
    color: black;
}

button {
    color: crimson;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    font-size: xx-large;

}

#Si {
    grid-row:  5;
    grid-column: 5;
}

#No {
    grid-row: 5;
    grid-column: 6;

}

section {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 1200px;
    height: 600px;
    align-items: center;
    justify-items: center;
}

body {
    background-color: lavender;
}

p {
    font-size: xx-large;
    justify-content: center;
    color: pink;
}

.pregunta {
    margin: 120px auto; /* Alinea verticalmente en el centro y establece el margen superior e inferior */
    width: 30%;
    text-align: center;
    line-height: 3;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.pregunta {
    background-color: lavender;
    border-radius: 10px;
    position: relative;
}