h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Kalam', cursive;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2.5em;
}

.paracaidismo {
    margin-left: 27em;
    padding-bottom: 10px;
}

body {
    margin: 0 0 0 0;
    text-align: justify-all;
    font-family: "Calibri Light";
    line-height: 15px;
    background: rgba(10, 118, 169, 0.43);
}

#contenedorGIF {
    text-align: center;
}

.f1 {
    margin: 120px auto; /* Alinea verticalmente en el centro y establece el margen superior e inferior */
    width: 30%;
    text-align: center;
    line-height: 3;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.f1 {
    background-color: lavender;
    border-radius: 10px;
    position: relative;
}

button {
    border-radius: 7px;
}

#contenedorBotones {
    display: flex;
    justify-content: space-around; /* Esto distribuirá los botones de manera uniforme en el contenedor */
}

#botonSI, #botonNO {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Calibri Light";
    background-color: lightblue;
    width: 15%;
    padding: 10px; /* Añade un relleno para mejorar la apariencia */
}


